@import '../../mixin';

#tag {

  .tag-title {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    font-size: 18px;
  }

  @import '../../components/Tag/category';
  @import '../../components/Tag/tool';
  @import '../../components/Tag/items';
  @import '../../components/Tag/tip';

  .load-more {
    height: 34px;
    width: 100%;
    outline: none;
    border: none;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    color: #37a;
    background-color: #f7f7f7;
    cursor: pointer;

    &:hover {
      background-color: #eee;
      color: $blue;
    }

    &:active {
      background-color: #ddd;
    }
  }
}