.slide-items {
  position: absolute;
  white-space: nowrap;
}

.slide-item {
  display: inline-block;
  width: 128px;
  height: 270px;
  overflow: hidden;
  text-align: center;
  margin: 0 9.75px;

  .poster {
    margin-bottom: 10px;
    img {
      width: 128px;
      vertical-align: middle;
    }
  }

  .title {
    font-size: 14px;
    width: 128px;
    // white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  .rating {
    margin: 10px;
    font-size: 12px;
    color: #e09015;
  }

  .ticket {
    display: inline-block;
    font-size: 12px;
    background-color: #2196f3;
    color: #fff;
    padding: 6px 15px;
    border-radius: 3px;
    cursor: pointer;
  }
}