@import '../../mixin';

.slide-items-wrapper {
  overflow: hidden;
}

.slide-items {
  position: relative;
  white-space: nowrap;
  transition: left 0.7s;

  @for $i from 0 through 7 {
    &.page-#{$i} {
      left: $i * -740px
    }
  }
}

.slide-item {
  width: 128px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  margin: 0 10px;
  position: relative;
}

.slide-item-poster {
  vertical-align: super;
  height: 180px;
  overflow: hidden;
  margin-bottom: 18px;

  img {
    width: 128px;
    vertical-align: middle;
    cursor: pointer;
  }
}

.slide-item-title {
  font-size: 14px;
  width: 128px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 8px;

  a {
    color: $black;
  }
}

.slide-item-rating {
  font-size: 12px;
  margin-bottom: 18px;

  .rating-score {
    color: $orange;
  }

  .rating-star-00 {
    display: none;
  }
}
