@import './normalize';

html {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
    text-decoration: none;
}

@import './components/JJFly/index';